language: ruby
before_install: gem install bundler
bundler_args: --without debug doc tooling
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - ruby-head
  - jruby-head
  - rbx
  - rbx-2
notifications:
  irc: "irc.freenode.org#htty"
script: "bundle exec rake test"
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx
    - rvm: rbx-2
branches:
  except:
    - /^gh-pages.*$/
